<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/favicon.ico">
    <title>宜昌阳成科技</title>
    <!-- Bootstrap core CSS -->
     <link href="static/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/dashboard.css" rel="stylesheet">
  </head>
  <body>
  <!-- header -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">快递收发</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">退出</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="电话或者单号...">
          </form>
        </div>
      </div>
    </nav>
    <!-- end of header -->
    <div class="container-fluid">
      <div class="row">
      <!-- sidebar -->
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">收快递 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">发快递</a></li>
            <li><a href="#">标记快递</a></li>
            <li><a href="#">导出清单</a></li>
          </ul>
        </div>
        <!-- end of sidebar -->
        <!-- content -->
        <<div class="container-fluid">
           <form role="form" class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-offset-5">
                <label class="control-label col-sm-2" for="ex1">快递单号</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="id"  required autofocus>
              </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-5">
                <label class="control-label col-sm-2" for="ex1">箱柜号码</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="box_number">
              </div>
              </div>
            </div>
             <div class="form-group">
              <div class="col-sm-offset-5">
                <label class="control-label col-sm-2" for="ex1">快递公司</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="company" >
              </div>
              </div>
            </div>
             <div class="form-group">
              <div class="col-sm-offset-5">
                <label class="control-label col-sm-2" for="ex1">客户电话</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="phone" >
              </div>
              </div>
            </div>
             <div class="form-group">
              <div class="col-sm-offset-5">
                <label class="control-label col-sm-2" for="ex1">客户姓名</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="name" >
              </div>
              </div>
            </div>
          </form> 
        </div> 
            <!-- end of content -->
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/jquery-1.12.3.min.js"></script>
  </body>
</html>
